---
---


@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

$grid-float-breakpoint: 992px;

@import "bootstrap";
@import "bootstrap/theme";



@import "base";

.galleria{
}

/* This gets Google to fall into place */
.social {
        font-size: 1px;
}

/* This gets Facebook to fall into place */
.social iframe,
.social div {
        vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
        padding-right:8px;
}

/* Adjust the widths individually if you like */
.social .google {
}

.rss-icon{
	color: #ff6600;
}

article a:link {
	border-bottom: 1px dashed;
}

article a:hover {
	text-decoration:none;
	border-bottom: 1px solid;
}