---
layout: page
title: Home
position: home
regenerate: true
pagination: 
  enabled: true
description: > 
  A Head Full of Wishes is a site for Galaxie 500, Luna, Damon & Naomi, Dean & Britta 
  and Dean Wareham. With news, articles and lists of releases and past and future shows. 
---
    {% for post in paginator.posts %}
    {% unless post.draft %}
        {% include entry.html %}

    {% endunless %}
    {% endfor %}

<!-- Pagination links -->
<div class="col-md-12">
<ul class="pager" role="navigation" aria-labelledby="pagination-label">

    {% if paginator.previous_page %}
    <li class="previous">
        {% if paginator.previous_page == 1 %}
        <a class="pagination-item" href="/" rel="prev">previous<span class="sr-only"> page</span></a>
        {% else %}
        <a class="pagination-item" href="{{ paginator.previous_page_path }}" rel="prev">previous<span class="sr-only"> page</span></a>
        {% endif %}
    </li>
    {% endif %}

    {% if paginator.next_page %}
    <li class="next">
        <a class="pagination-item" href="{{ paginator.next_page_path }}" rel="next">next<span class="sr-only"> page</span></a>
    </li>
    {% endif %}
</ul>
</div>
