{% assign adchoice =  paginator.page | modulo: 2 %}
<div class="card col-lg-6 col-md-12 mb-2 px-0" style="">
{% if adchoice == 1 %}
	   <div class="ratio ratio-16x9"><img src="https://media.fullofwishes.co.uk/images/cd-obverse-tiom-30-web.jpg" style="object-fit: cover" class="card-img-top img-fluid" alt="CD sleeve for This Music Is Ours"></div>
	   <div class="card-body">
		   <h2 class="card-title h6">This Music Is Ours</h5>
		   <div class="card-text"><p>Galaxie 500 called their third album This Is Our Music. Which I suppose it was.</p>
		   <p>Within six months of its release the band had split up.</p>
		   <p>Maybe you can hear the end of the band on the album, but I never could. Maybe “way up high and going too fast” or “seems like everything is business” should have clued me in but I was never so astute.</p>
		   </div>
		   <div class="card-footer mt-auto text-end"><a href="https://aheadfullofwishes.bandcamp.com/album/this-music-is-ours" class="btn btn-outline-primary btn-sm stretched-link">View on bandcamp</a></div>
	   </div>
{% else %}
	   <div class="ratio ratio-16x9"><img src="https://media.fullofwishes.co.uk/00-misc/ahfow-30/on-fire-30-cd-cover.jpg" style="object-fit: cover" class="card-img-top img-fluid" alt="CD sleeve for On Fire 30"></div>
	   <div class="card-body">
		   <h2 class="card-title h6">On Fire 30</h5>
		   <div class="card-text"><p>It turns out 1989 was an amazing year for music. It was for me anyway my life was changed in so many ways that year. Galaxie 500’s On Fire was one of those ways. It entered my life on one side of a C90 cassette and hasn’t left my life since. In spring of 2019 I had an idea that something needed to be done to celebrate 30 years of that life-changing occurrence.</p>
		   <p>This is what came of that idea.</p>
		   </div>
		   <div class="card-footer mt-auto text-end"><a href="https://aheadfullofwishes.bandcamp.com/album/on-fire-30" class="btn btn-outline-primary btn-sm stretched-link">View on bandcamp</a></div>
	   </div>
{% endif %}
   </div>

