
{% assign level = 0 %}
{% if page.position %}
	{% assign level = page.position | split: '-' | last %}
	{% assign area = page.position | split: '-' | first %}
	{% assign level = level | abs %}
{% endif %}

<div class="row">
	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				{% if level > 1 %}
				<li class="breadcrumb-item"><a href="/database/">Releases, shows and tracks</a></li>
				{% endif %}

				{% if level > 2 %}
				<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/">{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %}</a></li>
				{% endif %}

				{% if level > 3 and page.layout == 'gigography' %}
				<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/shows/">{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %} shows</a></li>
				{% endif %}

				{% if level == 4 and page.layout == 'release' %}
					{% case artist.slug %}
					{% when "dean-and-britta" %}
						<li class="breadcrumb-item"><a href="/database/dean-and-britta/dean-and-britta-releases/" >Dean & Britta discography</a></li>
					{% when "dean-wareham" %}
						<li class="breadcrumb-item"><a href="/database/dean-and-britta/dean-wareham-releases/" >Dean Wareham discography</a></li>
					{% when "britta-phillips" %}
						<li class="breadcrumb-item"><a href="/database/dean-and-britta/britta-phillips-releases/" >Britta Phillips discography</a></li>
					{% else %}
						<li class="breadcrumb-item"><a href="/database/{{artist.slug}}/releases/" >{{artist.name}} discography</a></li>
			{% endcase %}

				{% endif %}



				{% if level > 4 and page.layout == 'show' %}
				<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/shows/{{page.show-date|date: '%Y'|append: '/'}}">{{page.show-date|date: '%Y'}}</a></li>
				{% endif %}

				<li class="breadcrumb-item" aria-content="page">{{page_title}}</li>
			</ul>
		</nav>
	</div>
</div>
