{% if page.title != "Home" %}
{% assign levels = page.url | split: '/' %}
{% assign artistlevel = levels[1] %}
{% assign artist = site.data.artists[artistlevel] %}
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% assign months = "January February March April May June July August September October November December" | split: " " %}

<div class="row">
	<div class="col">
		<nav aria-label="breadcrumb">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>

{% for crumb in crumbs offset: 1 %}
	{% if forloop.last %}
		<li class="breadcrumb-item active">{% if artist and forloop.index == 1 %}{{ artist.name }}{% elsif page.title  %}{{ page.title}}{% else %}{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}{% endif %}</li>
	{% else %}
	{% if page.layout == "post" } 
		{% if forloop.index != 2 %}
			{% else %}

				<li class="breadcrumb-item"><a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{% if artist and forloop.index == 1 %}{{ artist.name }}{% elsif page.layout == "post" and forloop.index == 2 %}{% assign crumbint = crumb | minus: 1 %}{{ months[crumbint] }} {{ levels[1] }}{% else %}{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}{% endif %}</a></li>
		{% endif %}
	{% endif %}
{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% endif %}
