		<div class="card">
			<div class="card-header"><h2>{{ page.title }}
			{% assign curdate = site.time | date: '%s' | minus: 86400 %}
			{% assign postdate = page.date | date: '%s' %}{% assign postdate = postdate | plus: 1 %}
			{% if page.draft %} <span class="badge badge-primary">Draft</span> 
			{% elsif postdate > curdate %} <span class="badge badge-primary">Future</span>
			{% endif %}
			</h2>
			</div>
				<div class="card-body">
		    	    <p class="byline">
		        	{% if page.collection == "articles" %}Written by 
		        	{{page.author.display_name}} {% if page.source %}<em> - {{page.source.name}}, {{page.source.publication_date}}</em>{% endif %}
		        	{% else %}
		        	Posted by
		        	{% if page.author.display_name != 'Andy' %}<a href="/authors/">{{page.author.display_name}}</a>
		        	{% else %}{{page.author.display_name}}
		        	{% endif %}
		        	 on {{ page.date | date: "%-d %B %Y" }}
		        	 {% endif %}
		        	</p>
		        	{% if page.categories %}
		        	<p class="float-left pr-3">in categories: </p>
		        		<ul class="categories list-inline">
			        	{% for category in page.categories %}
			        		<li class="list-inline-item"><a class="badge badge-pill badge-primary" href="{{ category | slugify | prepend: '/category/' | append: '/' }}">{{ category }}</a></li>
				        {% endfor %}
				        </ul>
		    	    {% endif %}
				
					<article class="post-content">
						{{ content }}
					</article>
					{% if page.related %}
					<div class="card">
						  <div class="card-header">
						    <p class="card-title">Related links</p>
						  </div>
						  <div class="card-body">
							  <ul>
							  {% for page in page.related %}
							    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
							  {% endfor %}
						    </ul>
				  </div>
				</div>
				{% endif %}


				{% if page.photos %}
				<div class="row">
					<div class="col-md-12">
						<h3>Photos</h3>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
