		<div class="card col-12 mb-2">
			<div class="card-body"><h2 class="card-title h3">{% if page.series-title %}<span class="text-muted text-uppercase small">{{ page.series-title }}</span><br/> {% endif %}{{ page.title }}</h2>
		    	    <div class="card-text byline">
		        	{% if page.collection == "articles" %}Written by 
		        	{{page.author.display_name}} {% if page.source %}<em> - {{page.source.name}}, {{page.source.publication_date}}</em>{% endif %}
		        	{% else %}
		        	Posted by
		        	{% if page.author.display_name != 'Andy' %}<a href="/authors/">{{page.author.display_name}}</a>
		        	{% else %}{{page.author.display_name}}
		        	{% endif %}
		        	 on {{ page.date | date: "%-d %B %Y" }}
		        	 {% endif %}
		        	</div>
		        	{% if page.categories %}
		        	<p class="float-left pr-3">in categories: </p>
		        		<ul class="categories list-inline">
			        	{% for category in page.categories %}
			        		<li class="list-inline-item"><a class="badge text-bg-primary" href="{{ category | slugify | prepend: '/category/' | append: '/' }}">{{ category }}</a></li>
				        {% endfor %}
				        </ul>
		    	    {% endif %}
				
					<article class="post-content">
						{{ content }}
					</article>

			</div>
		</div>
