<hr>
<div>
  <footer>
    <div>
      <h5>Find out more</h5>
      <ul>
        <li><a href="http://eepurl.com/hvmzyH">Subscribe for email updates</a></li>
        <li><a href="/feed/">RSS: News and articles</a></li>
		<li><a href="/database/luna/shows/upcoming.xml">RSS: Luna showsi</a></li>
        <li><a href="/database/damon-and-naomi/shows/upcoming.xml">RSS: Damon &amp; Naomi shows</a></li>
        <li><a href="/database/dean-and-britta/shows/upcoming.xml">RSS: Dean &amp; Britta shows</a></li>
      </ul>
    </div>
 
    <div>
		<h5>Follow AHFoW</h5>
		<ul>
			<li><a href="/about/">About</a></li>
            <li><a rel="me" href="https://bsky.app/profile/ahfow.bsky.social">AHFoW on Bluesky</a></li>
            <li><a rel="me" href="https://www.reddit.com/r/aheadfullofwishes/">r/aheadfullofwishes (Reddit)</a></li>
            <li><a rel="me" href="https://www.facebook.com/fullofwishes/">AHFoW on Facebook</a></li>
            <li><a rel="me" href="https://twitter.com/ahfow/">@ahfow on Twitter</a></li>
            <li><a rel="me" href="https://mas.to/@grange85/">@grange85@mas.to</a></li>
            <li><a rel="me" href="https://www.instagram.com/fullofwishes/">@fullofwishes on Instagram</a></li>
            <li><a rel="me" href="https://oblivious.fullofwishes.co.uk">Oblivious (Tumblr)</a></li>
      </ul>
    </div>

<p>{{site.title}} / last build: {{site.time | date: "%Y-%m-%d %H:%M" }}</p>

  </footer>
</div>

