<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.draft %}

  <meta name="robots" content="noindex, nofollow">
  {% endif %}

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncatewords: 50 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 50 | escape }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{ site.version }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- social sharing tags -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ahfow">
<meta name="twitter:creator" content="@grange85">
<meta property="fb:app_id" content="137187479629913" />
<meta property="fb:admins" content="grange85"/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:title" content="{{page.title | escape}}" />
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncatewords: 50 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 50 | escape }}{% endif %}" />

<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

<meta property="og:image" content="{% if page.imageurl %}{{ page.imageurl }}{% else %}{{site.image}}{% endif %}" />
{% if artist.image %}<meta property="og:image" content="{{artist.image}}" />{% endif %}
<!-- end social sharing tags -->

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script>
  dataLayer = [{
{% for category in page.categories %}
{% case category %}
{% when 'galaxie 500' %}
    'page-artist': 'galaxie-500',
{% when 'luna' %}
    'page-artist': 'luna',
{% when 'damon & naomi' %}
    'page-artist': 'damon-and-naomi',
{% when 'dean & britta' %}
    'page-artist': 'dean-and-britta',
{% when 'dean wareham' %}
    'page-artist': 'dean-wareham',
{% else %}
    'page-category': '{{category | slugify}}',
{% endcase %}
{% endfor %}
  'site' : 'www'
  }];
</script>
</head>
