<div class="row">
	<div class="col">
		<header>
			<div>
				<h1 class="py-0 mb-0">
					<img src="https://media.fullofwishes.co.uk/00-misc/ahfow-web/ahfow-site-image-1280x200.jpg" alt="{{site.title}} - {{site.subtitle}}" class="img-fluid" />
				</h1>
			</div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white py-2 mt-0">

				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ahfow-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="ahfow-navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News, reviews and articles</a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/">Latest news</a>
						          <div class="dropdown-divider"></div>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/galaxie-500/">Galaxie 500 news</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/luna/">Luna news</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/damon-naomi/">Damon &amp; Naomi news</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/dean-britta/">Dean &amp; Britta news</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/dean-wareham/">Dean Wareham news</a>
						          <div class="dropdown-divider"></div>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/audio/">Audio</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/category/video/">Video</a>
						</li>


						<li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Releases, shows and tracks</a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/">Releases, shows and tracks home</a>
						          <div class="dropdown-divider"></div>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/galaxie-500/">Galaxie 500</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/luna/">Luna</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/damon-and-naomi/">Damon &amp; Naomi</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/dean-and-britta/">Dean Wareham / Britta Phillips</a>
						          <div class="dropdown-divider"></div>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/tracks/">A-Z of tracks</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="/database/shows/show-downloads/">Full shows to download</a>
						</li>


						<li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social</a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="https://www.facebook.com/fullofwishes/">Facebook</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="https://twitter.com/ahfow/">@ahfow on Twitter</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="https://www.instagram.com/fullofwishes/">@fullofwishes on Instagram</a>
						          <div class="dropdown-divider"></div>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="https://twitter.com/grange85/">@grange85 on Twitter</a>
								<a class="dropdown-item" role="menuitem" tabindex="-1" href="https://www.instagram.com/grange85/">@grange85 on Instagram</a>
						</li>
					</ul>
					{% unless page.title == 'Search results' %}
					<div class="nav navbar-form navbar-right">
						  <form class="form-inline" action="/search-results/" method="get">
						    <input class="form-control mr-sm-2" id="q" name="q" type="search" placeholder="Search" aria-label="Search">
						    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
						  </form>
					</div>
					{% endunless %}
				</div><!-- /.navbar-collapse -->
			</nav>
		</header>
	</div><!-- /.column -->
</div>
