    <div class="row no-gutters">
        <div class="col-md-12 col-sm-6">
            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title">A Head Full of Wishes</p>
                </div>
                <div class="card-body">
                    <ul class="pl-2">
                        <li><a href="/database/">Releases, shows and tracks</a></li>
                        <li><a href="https://www.reddit.com/r/aheadfullofwishes/">r/aheadfullofwishes (Reddit)</a></li>
                        <li><a href="https://www.facebook.com/fullofwishes/">Facebook</a></li>
                        <li><a href="https://twitter.com/ahfow/">@ahfow on Twitter</a></li>
                        <li><a rel="me" href="https://mast.to/@grange85/">@grange85 on Mastadon</a></li>
                        <li><a href="https://www.instagram.com/fullofwishes/">@fullofwishes on Instagram</a></li>
                        <li><a href="https://oblivious.fullofwishes.co.uk" >Oblivious (Tumblr)</a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title"><i class="bi bi-archive"></i>&nbsp;Email updates</p>
                </div>
                <div class="card-body">
                    <p>Get email updates from A Head Full of Wishes</p>
                    <p><a class="btn btn-primary btn-md float-right" href="http://eepurl.com/hvmzyH" role="button">Subscribe</a></p>
                </div>
            </div>


            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title"><i class="bi bi-files"></i>&nbsp;Categories</p>
                </div>
                <div class="card-body">
                     <select class="custom-select" id="categories-dropdown" name="category-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
                        <option value="text-truncate">Category</option>
                        {% assign allcategories = site.categories | sort %}
                        {% for category in allcategories %}
                            <option value="{{ category | first | slugify | prepend: '/category/' }}/">{{ category | first }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title"><i class="bi bi-archive"></i>&nbsp;Archives</p>
                </div>
                <div class="card-body">
                    {% include archives-dropdown.html %}
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6">

            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title">Bandcamp</p>
                </div>
                <div class="card-body">
                    <p>A collection of AHFoW related releases on Bandcamp</p>
                    <figure class="figure">
                        <a href="/articles/bandcamp-releases/"><img src="https://townsquare.media/site/838/files/2020/03/bandcamp.jpg?w=640&q=75" class="img-fluid" alt="A collection of AHFoW related releases on Bandcamp" /></a>
                        <figcaption class="figure-caption"><a href="/articles/bandcamp-releases/">Bandcamp releases</a></figcaption>
                    </figure>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title">On Fire | 30</p>
                </div>
                <div class="card-body">
                    <p>A 30th anniversary celebration of Galaxie 500's masterpiece</p>
                    <figure class="figure">
                        <a href="https://aheadfullofwishes.bandcamp.com"><img src="https://media.fullofwishes.co.uk/00-misc/ahfow-30/on-fire-30-cd-cover.jpg" class="img-fluid" alt="On Fire 30 CD sleeve (design: John Conley)" /></a>
                        <figcaption class="figure-caption"><a href="https://aheadfullofwishes.bandcamp.com">Buy On Fire | 30</a></figcaption>
                    </figure>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-light pt-3 pb-0">
                    <p class="card-title"><i class="bi bi-rss"></i>&nbsp;RSS feeds</p>
                </div>
                <div class="card-body">
                    <ul class="pl-2">
                        <li><a href="https://www.fullofwishes.co.uk/feed">News and articles</a></li>
                        <li><a href="https://www.fullofwishes.co.uk/database/luna/shows/upcoming.xml">Upcoming Luna shows</a></li>
                        <li><a href="https://www.fullofwishes.co.uk/database/damon-and-naomi/shows/upcoming.xml">Upcoming Damon & Naomi shows</a></li>
                        <li><a href="https://www.fullofwishes.co.uk/database/dean-and-britta/shows/upcoming.xml">Upcoming Dean & Britta shows</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
