<div class="card">
	    <div class="card-body">
		<h2 class="card-title h6">Post categories</h2>
		<ul class="list-inline list-group-inline">
					{% for category in site.categories %}
{% assign catsize = category | last | size %}
{% if catsize > 15 %}
					<li class="list-inline-item inline-group-item-action"><a class="card-link {% if catsize >= 300 %}fs-3{% elsif catsize >= 100 and catsize < 300 %}fs-4{% elsif catsize >= 60 and catsize < 100 %}fs-4{% elsif catsize >= 30 and catsize < 60 %}fs-5{% else %}fs-6{% endif %}" href="{{ category| first | slugify | prepend: '/category/' }}/">{{ category | first }}</a></li>
					{% endif %}
					{% endfor %}
					<li class="list-inline-item inline-group-item-action"><a class="card-link" href="/category/">All categories</a></li>
		</ul>	
		</div>
</div>


