    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <p class="card-title">A Head Full of Wishes</p>
                </div>
                <div class="card-body">
                    <ul class="pl-2">
                        <li><a href="/database/">Releases, shows and tracks</a></li>
                        <li><a href="https://www.reddit.com/r/aheadfullofwishes/">r/aheadfullofwishes (Reddit)</a></li>
                        <li><a href="https://www.facebook.com/fullofwishes/">Facebook</a></li>
                        <li><a href="https://twitter.com/ahfow/">@ahfow on Twitter</a></li>
                        <li><a href="https://www.instagram.com/fullofwishes/">@fullofwishes on Instagram</a></li>
                        <li><a href="https://oblivious.fullofwishes.co.uk" >Oblivious (Tumblr)</a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-light">
                    <p class="card-title"><i class="bi bi-files"></i>&nbsp;Categories</p>
                </div>
                <div class="card-body">
                    <ul class="pl-2">
                    {% assign allcategories = site.categories | sort %}
                    {% for category in allcategories %}
                    <li><a href="{{ category | first | slugify | prepend: '/category/' }}/">{{ category | first }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-light">
                    <p class="card-title"><i class="bi bi-archive"></i>&nbsp;Archives</p>
                </div>
                <div class="card-body">
                    {% include archives-dropdown.html %}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <p class="card-title"><i class="bi bi-rss"></i>&nbsp;RSS feeds</p>
                </div>
                <div class="card-body">
                    <ul class="pl-2">
                        <li><a href="https://feeds.feedburner.com/AHeadFullOfWishes">News and articles</a></li>
                        <li><a href="https://feeds.feedburner.com/ahfow-upcoming-luna-shows">Upcoming Luna shows</a></li>
                        <li><a href="https://feeds.feedburner.com/ahfow-upcoming-damon-and-naomi-shows">Upcoming Damon & Naomi shows</a></li>
                        <li><a href="https://feeds.feedburner.com/ahfow-upcoming-dean-and-britta-shows">Upcoming Dean & Britta shows</a></li>
                        <li><a href="/podcasts.xml">Podcast</a> | <a href="https://podcasts.apple.com/gb/podcast/a-head-full-of-wishes-podcasts/id1119771496?mt=2">iTunes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
