{% assign artist = site.data.artists[page.artistslug] %}

{% case artist.slug %}
{% when 'galaxie-500' %}
  {% assign shows = site.galaxie-500-shows %}
{% when 'luna' %}
  {% assign shows = site.luna-shows %}
{% when 'damon-and-naomi' %}
  {% assign shows = site.damon-and-naomi-shows %}
{% when 'dean-and-britta' %}
  {% assign shows = site.dean-and-britta-shows | sort: "show-date" %}
{% when 'dean-wareham' %}
  {% assign shows = site.dean-wareham-shows %}
{% when 'britta-phillips' %}
  {% assign shows = site.britta-phillips-shows %}
{% endcase %}


{% assign curdate = site.time | date: '%s' | minus: 86400 %}
<h3 id="upcoming">Upcoming {{artist.name}} shows</h3>
<div class="pull-right"><a href="{{artist.upcoming-shows-feed}}"><span class="rss-icon">{% icon fa-rss %}</span> Subscribe to a feed of upcoming {{artist.name}} shows </a></div>
<table class="table table-striped">
{% for show in shows %}{% assign showdate = show.show-date | date: '%s' %}{% assign showdate = showdate | plus: 0 %}{% if showdate >= curdate %}
              {% assign day = show.show-date|date: "%-d"  %}{% capture ordinaldate %}{% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{show.show-date|date: "%B %Y"}}{% endcapture %}

      <tr>
        <th class="col-md-4">{{ ordinaldate }}</th>
        <td class="col-md-8"><a href="{{ show.url | prepend: site.baseurl}}">{{ show.show-venue }}</a><br/>
          {% if show.show-cancelled %}<span class="badge badge-danger">Cancelled</span>{% endif %}
          {% if show.artist.name %}<span class="badge badge-success">{{ show.artist.name }}</span>
          {% else %}<span class="badge badge-success">{{ artist.name }}</span>
          {% endif %}
          {% if show.show-series %}<span class="badge badge-primary">{{ show.show-series }}</span>{% endif %}
        </td>
      </tr>{% endif %}{% endfor %}
</table>
