/**
 * Basic styling
 */
$grid-float-breakpoint: 1280;



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

figure {
    max-width: 100%;
    height:auto;
    margin-bottom: $line-height-computed;
}

figure.aligncenter img, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
    font-style: italic;
    text-align: right;
    margin-bottom: 6px; 
    color: $text-muted;
}

audio {
    width: 100%;
}

.footer {
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: $brand-primary;
}

.page-header {
    margin:0;
    padding: 0;
    border:0;
}
.page-header h1 {
    margin: 0;
}

/* div.fluid-width-video-wrapper {margin-bottom: $line-height-computed;} */