---
layout: default
---

{% include breadcrumbs.html %}
{% assign newsection = 'A' %}
<div class="row">
	<div class="col-md-12">
		{{content}}
		<div class="card">
			<div class="card-header">
				<h3>{{ newsection }}</h3>
			</div>
		<ul>
		{% for track in tracks %}
			{% assign currentsection = newsection %}
			{% assign newsection = track.track-sort | truncate: 1, '' | upcase %}
			{% if newsection != currentsection %}
		</ul>
		<h3>{{ newsection }}</h3>
		<ul>
			{% endif %}
			<li><a href="{{ track.url | prepend: site.baseurl }}">{{ track.title }}</a> {% if track.track-author %}<em>({{track.track-author}})</em>{% endif %}{% if cover %} - Originally by: {{track.track-original}}{% endif %}</li>
				{% endfor %}  <!-- page-category -->
				</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include sidebar.html %}
		</div>
	</div>
</div>
{% include footer.html %}
</body>
</html>
