<!DOCTYPE html>
<html>
{% assign newtitle = page.title %}
{% if page.description %}{% assign description = page.description %}{% endif %}
{% include head.html %}
<body>
	{% include tagmanager.html %}
	{% include header.html %}
	{% include social.html %}
	<div class="container">
		<div class="row">
		<div class="wrapper col-md-9">
			<div class="row">
				<div class="col-md-12">
					<nav>
						<ul class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li><a href="/database/">Database</a></li>

							<li>{{ page.title }}</li>
						</ul>
					</nav>
				</div>
			</div>
			{{content}}
		</div>

		<div class="col-md-3">
			{% include sidebar.html %}
		</div>
	</div>
</div>
{% include footer.html %}
</body>
</html>
