---
layout: default
---
	{% include breadcrumbs.html %}
				<div class="row">
					<div class="col">

						<h2>Posts with {{ page.type }} '{{ page.title }}'</h2>
						<div class="table-responsive">
							<table class="table">
								{% for post in page.posts %}
								<tr class="">
									<th scope="row">{{ post.date | date: "%-d %B %Y" }}</th>
									<td><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.series-title %}{{ post.series-title }} {% endif %}{{ post.title }}</a></td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
