---
layout: default
---
	{% assign artist = site.data.artists[page.artistslug] %}
	{% if page.description %}{% assign description = page.description %}{% else %}
	{% capture description %}Comprehensive list of {{artist.name}} releases with sleeve scans.{% endcapture %}
	{% endif %}
	{% capture page_title %}{{page.title}} {% if page.year %} {{page.year}}{% endif %}{% endcapture %}
	{% include head.html %}
	{% case artist.slug %}
		{% when 'galaxie-500' %}
			{% assign releases = site.galaxie-500-releases | group_by: 'section' | sort: 'name' %}
		{% when 'luna' %}
			{% assign releases = site.luna-releases | group_by: "section" | sort: 'name' %}
		{% when 'damon-and-naomi' %}
			{% assign releases = site.damon-and-naomi-releases | group_by: "section" | sort: 'name' %}
		{% when 'dean-and-britta' %}
			{% assign releases = site.dean-and-britta-releases | group_by: "section" | sort: 'name' %}
		{% when 'dean-wareham' %}
			{% assign releases = site.dean-wareham-releases | group_by: "section" | sort: 'name' %}
		{% when 'britta-phillips' %}
			{% assign releases = site.britta-phillips-releases | group_by: "section" | sort: 'name' %}
	{% endcase %}
	{% assign releases = releases %}



	{% include breadcrumbs.html %}


			<div class="row">
				<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item"><a href="/database/">Database</a></li>

							<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/">{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %}</a></li>
							<li class="breadcrumb-item active">{{artist.name}} discography</li>
						</ol>
					</nav>
				</div>
			</div>



				<div class="row">
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-outline-secondary w-100 dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    							Contents
							</button>
							<div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">	
				{% for section in releases %}
					<a href="#{{section.name}}" class="dropdown-item">{{section.name | split: "-" | last | capitalize | append: 's' }}</a>
				{% endfor %}
							</div>
						</div>
					</div>
				</div>




				{% for section in releases %}
					{% assign section_name = section.name | split: '-' | last | capitalize | append: 's' %}
 

			<div class="row"><h2 class="w-100 bg-light p-3 rounded" id="{{section.name}}">{{section_name}}</h2></div>
			<div class="row">
					{% assign release_section = section.items | sort: 'initial_release_date' %}
					{% for release in release_section %}
					{% assign image_url_test = release.imageurl | append: 'x' %}
						<div class="col-xl-4 col-md-6 col-sm-12">
						<div class="card mb-3 pb-1 h-100">
							{% if image_url_test == 'x' %}
							<img class="card-img-top img-fluid" src="https://media.fullofwishes.co.uk/00-misc/ahfow-web/sleeve-required-new.jpg" alt="no sleeve image available">
							{% else %}
							<img class="card-img-top img-fluid" src="{{release.imageurl}}" alt="{{release.albumname}} sleeve image">
							{% endif %}
							<div class="card-body">
								<h4><a href="{{ release.url | prepend: site.baseurl }}" class="stretched-link">{{ release.albumname }}</a></h4>
							</div>
						</div>
					</div>
					{% endfor %}  <!-- release -->
				</div>
			{% endfor %} <!-- section -->
				<div class="row">
					<div class="col">
						<p class="text-muted text-right"><a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a></p>
					</div>
				</div>
