---
layout: default
---
	{% assign artist = site.data.artists[page.artistslug] %}

	{% if page.year %}
		{% assign page_title = page.year %}
	{% else %}
		{% assign page_title = page.title %}
	{% endif %}

		{% include breadcrumbs.html %}


			<div class="row">
				<div class="col">
					<nav>
						<h3 id="upcoming">Archive of {{artist.name}} shows</h3>
						<div class="">
							<div class="row">
						{% for year in artist.yearsactive %}
								<div class="col">
								<a class=" {% if year == page.year %}disabled{% endif %}" href="/database/{{artist.slug}}/shows/{{year}}/">{{year}}</a>
								</div>
						{% endfor %}
							</div>
						</div>
					</nav>
					<div class="alert alert-warning" role="alert"><i class="bi-alert-triangle"></i> The lists of shows are far from complete! If you know of any that are missing <a href="mailto:andy@fullofwishes.co.uk">please get in touch</a>.</div>
				</div>
			</div>



			{% case artist.slug %}
				{% when 'galaxie-500' %}
					{% assign shows = site.galaxie-500-shows | where: "category", page.year %}
				{% when 'luna' %}
					{% assign shows = site.luna-shows | where: "category", page.year %}
				{% when 'damon-and-naomi' %}
					{% assign shows = site.damon-and-naomi-shows | where: "category", page.year %}
				{% when 'dean-and-britta' %}
					{% assign shows = site.dean-and-britta-shows | where: "category", page.year %}
			{% endcase %}
			<div class="row">
				<div class="col">
					{% if page.section == 'topindex' %}
						{% if artist.slug != 'galaxie-500' %}
							{% include upcoming.html artistslug = artist.slug %}
						{% endif %}
				{% else %}
					{% if shows %}
						<h3>{{ artist.name }} shows in {{ page.year }}</h3>

						<div class="alert alert-info" role="alert"><i class="bi bi-key"></i> Key : <i class="bi bi-card-list"></i> = Setlist, <i class="bi bi-card-image"></i> = Poster, <i class="bi bi-camera"></i> = Photos, <i class="bi bi-download"></i> = show available for download, <i class="bi bi-link"></i> = links to reviews etc.</div>
						<table class="table table-striped">
						{% for show in shows %}
							{% unless show.show-cancelled %}
							{% assign day = show.show-date|date: "%-d"  %}
						  {% if show.date-uncertain.day %}{% assign day = "" %}{% endif %}
							{% capture ordinaldate %}{% case day %}{% when '' %}{{ day }}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{show.show-date|date: "%B %Y"}}{% endcapture %}

						<tr>
							<th class="col-md-3">{{ ordinaldate }}</th>
							<td class="col-md-7"><a href="{{ show.url | prepend: site.baseurl}}">{{ show.show-venue }}</a><br/>
          {% if show.show-cancelled %}<span class="label label-danger">Cancelled</span>{% endif %}
          {% if show.artist.name %}<span class="label label-success">{{ show.artist.name }}</span>
          {% else %}<span class="label label-success">{{ artist.name }}</span>
          {% endif %}
          {% if show.show-series %}<span class="label label-primary">{{ show.show-series }}</span>{% endif %}
							</td>
							<td class="col-md-2">{% if show.show-setlist.size > 0 %}
								<span class="icon" title="setlist"><i class="bi bi-card-list"></i></span>{% endif %}{% if show.show-poster-url %}
								<span class="icon" title="poster"><i class="bi bi-card-image"></i></span>{% endif %}{% if show.photos %}
								<span class="icon" title="pictures"><i class="bi bi-camera"></i></span>{% endif %}{% if show.videos %}
								<span class="icon" title="videos"><i class="bi bi-camera-reels"></i></span>{% endif %}{% if show.show-download %}
								<span class="icon" title="show available for download"><i class="bi bi-download"></i></span>{% endif %}{% if show.links %}
								<span class="icon" title="links to reviews and other content"><i class="bi bi-link"></i></span>{% endif %}
							</td>
						</tr>
						{% endunless %}
						{% endfor %}
						</table>
					{% endif %}
				{% endif %}
				</div>		
			</div>
