---
layout: page
---
{{ content }}
   <div class="row">
{% for post in paginator.posts %}

   {% if paginator.page == 1 and post.next.url == Nil %}
   <div class="card col-12 mb-2" style="">
	   <div class="card-body">
		   <h2 class="card-title h3">{% if post.series-title %}<span class="text-muted text-uppercase small">{{ post.series-title }}</span><br/> {% endif %}<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
		   <p class="card-text byline">
		   Posted by
		   {% if post.author.display_name != 'Andy' %}<a href="/authors/">{{post.author.display_name}}</a>
		   {% else %}{{post.author.display_name}}
		   {% endif %}
		   on {{ post.date | date: "%-d %B %Y" }}
		   </p>
		   <p class="card-text">{{ post.content }}</p>
		   <div class="card-footer mt-auto"><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-outline-primary btn-sm">More</a></div>
	   </div>
   </div>

    {% else %}

   <div class="card col-6 mb-2" style="">
	   <img src="{{ post.imageurl }}" class="card-img-top" alt="...">
	   <div class="card-body">
		   <h2 class="card-titlei h6">{% if post.series-title %}<span class="text-muted text-uppercase small">{{ post.series-title }}</span><br/> {% endif %}{{ post.title }}</h5>
		   <p class="card-text byline">
		   Posted by
		   {% if post.author.display_name != 'Andy' %}<a href="/authors/">{{post.author.display_name}}</a>
		   {% else %}{{post.author.display_name}}
		   {% endif %}
		   on {{ post.date | date: "%-d %B %Y" }}
		   </p>
		   <p class="card-text">{{ post.content | strip_html | truncatewords: 50 }}</p>
		   <div class="card-footer mt-auto"><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-outline-primary btn-sm stretched-link">More</a></div>
	   </div>
   </div>

    {% endif %}
{% endfor %}
<div>
<!-- Pagination links -->
<div class="col-md-12">

{% if paginator.page_trail %}
  <ul class="pagination justify-content-center">
  {% for trail in paginator.page_trail %}
    <li class="page-item {% if page.url == trail.path %}disabled{% endif %}">
        <a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}
</div>
