---
layout: default
---
	{% include breadcrumbs.html %}

<div class="row">
	<div class="col">
		<h2>Archive of posts from {{ page.date | date: "%B %Y" }}</h2>
		<div class="table-responsive">
			<table class="table table-striped">
			{% for post in page.posts %}
		  	{% unless post.draft %}
			<tr>
				<th>{{ post.date | date: "%-d %B %Y" }}</th>
				<td><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
			</tr>
		  	{% endunless %}
			{% endfor %}
			</table>
		</div>
	</div>
</div>