---
layout: default
---
	{% if page.artistslug %}{% assign artist = site.data.artists[page.artistslug] %}{% endif %}
	{% if page.description %}{% assign description = page.description %}{% endif %}
	{% assign page_title = page.title %}

	{% include breadcrumbs.html %}


				{% if page.categories == "primary" %}
				<div class="row">
					<div class="col">
						<img class="centre-block img-responsive" src="{{artist.image}}" alt="{{artist.name}} picture" />
							<div class="list-group">
							{% if artist.slug == "dean-and-britta" %}
								<a class="list-group-item list-group-item-action" href="/database/dean-and-britta/dean-and-britta-releases/" >Dean & Britta discography</a>
								<a class="list-group-item list-group-item-action" href="/database/dean-and-britta/dean-wareham-releases/" >Dean Wareham discography</a>
								<a class="list-group-item list-group-item-action" href="/database/dean-and-britta/britta-phillips-releases/" >Britta Phillips discography</a>
							{% else %}
								<a class="list-group-item list-group-item-action" href="/database/{{artist.slug}}/releases/" >{{artist.name}} discography</a>
							{% endif %}
								<a class="list-group-item list-group-item-action" href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/shows/" >{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %} shows</a>
							</div>
					</div>
				</div>
				{% endif %}
	

				{{ content }}
		

