---
layout: default
---
	{% assign artist = site.data.artists[page.artistslug] %}
	{% capture page_title %}{% if page.artist %}{{page.artist}}{% else %}{{artist.name}}{% endif %} - {{page.albumname}}{% endcapture %}
{% if page.description %}{% assign description = page.description %}{% else %}
	{% capture description %}Details for the release {{page.albumname}} by {{artist.name}} first issued in {{page.initial_release_date}}. Including track listings, production credits and sleeve scans.{% endcapture %}
{% endif %}
	{% assign ogimage = page.imageurl %}

		{% include breadcrumbs.html %}


<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				Notes
			</div>
			<div class="card-body">
				{% if page.notes %}
					{{ page.notes | newline_to_br }}
				{% endif %}
				{{content}}
				{% if page.bandcamp-id %}
				<p><a href="{{page.bandcamp-url}}">Buy/stream {{page.albumname}} on bandcamp</a></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>





{% if page.releases.size > 1 %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3>Versions</h3>
			</div>
			<div class="card-body">
				<ul class="" role="menu" aria-labelledby="release-versions" id="release-versions-contents">
				{% for releases in page.releases %}
					<li role="navigation"><a href="#{{ releases.version }}" aria-controls="{{ releases.version }}" role="" data-toggle="">
					{% if releases.version %}{{ releases.label }} {% endif %}
					{% if releases.year %} {{ releases.year }} {% endif %}
					{% if releases.format %} {{ releases.format }} {% endif %}
					{% if releases.version %} ({{ releases.version }}) {% endif %}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}



{% for releases in page.releases %}
<div class="row">
	<div class="col-md-12">
		<div role="" class="card" id="{{ releases.version }}">

			{%  capture imagetest %}X{{releases.imageurl}}{% endcapture %}
			{% if imagetest != 'X' %}
				<img src="{{releases.imageurl}}" class="img-fluid card-img-top" alt="{{releases.albumname}} sleeve image">
			{% endif %}


			<div class="card-header"><h3>{{ releases.label }} ({{ releases.year }})</h3></div>
			<div class="card-body">
				{% for group in releases.groups %}
					{% if group.group %}
						<strong>{{group.group}}</strong>
					{% endif %}
						<ul>
						{% for track in group.tracks %}
							<li>
							{% if track.artist %}
								{{track.artist}} - 
							{% endif %}
							{% if track.title contains '^' %}
								{{track.title | remove_first:'^'}}{% if track.notes %}&nbsp;({{track.notes}}){% endif %}
							{% else %}
								<a href="/database/tracks/{% if track.link %}{{track.link}}{% else %}{{track.title|replace: '&','and'|slugify}}{% endif %}/">{{track.title}}{% if track.notes %}&nbsp;({{track.notes}}){% endif %}</a>
							{% endif %}
							{% if track.author %}
								<em>({{track.author}})</em>
							{% endif %}
							</li>
						{% endfor %}
						</ul>
				{% endfor %}
						<ul>
							<li>{{ releases.label }} <em>({% if releases.catno %}{{ releases.catno }}, {% endif %}{{releases.year}})</em></li>
							{% if releases.format %}<li>Format: {{releases.format}}</li>{% endif %}
						</ul>
						{% if releases.release_notes %}<div>{{releases.release_notes | newline_to_br}}</div>{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
