---
layout: default
---
	{% assign artist = site.data.artists[page.artistslug] %}
	{% assign day = page.show-date|date: "%-d"  %}
  	{% if page.date-uncertain.day %}{% assign day = "" %}{% endif %}
	{% capture ordinaldate %}{% case day %}{% when '' %}{{ day }}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %} {{page.show-date|date: "%B %Y"}}{% endcapture %}
	{% capture newtitle %}{{ ordinaldate}} - {{artist.name}} - {{ page.show-venue }}{% endcapture %}
	{% assign content = page.content | strip_newlines %}



				<div class="row">
					<div class="col">
						<nav>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item"><a href="/database/">Database</a></li>

								<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/">{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %}</a></li>
								<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/shows/">{% if artist.sectionname %}{{artist.sectionname}}{% else %}{{artist.name}}{% endif %} shows</a></li>
								<li class="breadcrumb-item"><a href="/database/{% if artist.shows %}{{artist.shows}}{% else %}{{artist.slug}}{% endif %}/shows/{{page.show-date|date: '%Y'|append: '/'}}">{{page.show-date|date: '%Y'}}</a></li>
								<li class="breadcrumb-item active">{{ ordinaldate }} - {{artist.name}} - {{ page.show-venue }}</li>
							</ul>
						</nav>
						{% if page.show-cancelled %}
						<div class="alert alert-danger" role="alert">
					    	<strong>Cancelled</strong>
						</div>
						{% endif %}
					</div>
				</div>


				<div class="row">
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    							Index
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">	
								<a class="dropdown-item" href="#information">Information</a>
									{% if content != "" %}<a class="dropdown-item" href="#notes">Notes</a>{% endif %}
									{% if page.performers %}<a class="dropdown-item" href="#performers">Performers</a>{% endif %}
									{% if page.support %}<a class="dropdown-item" href="#support">Support acts</a>{% endif %}
									{% if page.show-setlist %}<a class="dropdown-item" href="#setlist">Setlist</a>{% endif %}
									{% if page.links %}<a class="dropdown-item" href="#links">Links</a>{% endif %}
									{% if page.show-poster-url %}<a class="dropdown-item" href="#poster">Poster</a>{% endif %}
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col">
							<div class="card mb-3">
							<div class="card-header bg-light" id="information">
								<h3>Information</h3>
							</div>

							<div class="card-body">
								<table class="table mb-0">
							<tr class="border-top-0"><th>Artist</th><td>{% if page.artist.name %}{{page.artist.name}}{% else %}{{artist.name}}{% endif %}</td></tr>

							<tr><th>Date</th><td><i class="bi bi-calendar-event"></i> {{ ordinaldate }}</td></tr>
							<tr><th>Venue</th><td>
							{% if page.address%}
								{{ page.address | newline_to_br }}
							
							<p><i class="bi bi-map"></i> <a href="https://www.google.com/maps/search/?api=1&query={{ page.address | strip_newlines | urlencode }}" target="_blank">Map</a></p>
							{% else %}
							 {{page.show-venue}}
							{% endif %}
							</td></tr>

						{% if page.show-download %}
							<tr><th>Download</th><td><i class="bi bi-download"></i> <a href="{{page.show-download.url}}" target="_blank">Download this show</a> ({{page.show-download.site}})</td></tr>
						{% endif %}
						{% if page.facebook-event-url %}
							<tr><th>Facebook</th><td><i class="bi bi-facebook"></i><a href="{{page.facebook-event-url}}" target="_blank">Facebook event</a></td></tr>
						{% endif %}
						{% capture nowdate %}{{'now' | date: '%s'}}{% endcapture %}
						{% capture showdate %}{{page.show-date | date: '%s'}}{% endcapture %}
						{% assign nowdate = nowdate | plus: 0 %}
						{% assign showdate = showdate | plus: 0 %}
						{% if showdate > nowdate %}
						{% unless page.show-cancelled %}
							{% if page.show-ticket-url %}
								<tr><th>Tickets</th><td><i class="bi bi-link"></i> <a href="{{page.show-ticket-url}}" target="_blank">Get tickets</a></td></tr>
							{% endif %}
						{% endunless %}
							{% if page.show-venue-website %}
								<tr><th>Links</th><td><i class="bi bi-link"></i> <a href="{{page.show-venue-website}}" target="_blank">Venue details</a></td></tr>
							{% endif %}
						{% endif %}
					</table>
							</div>
						</div>
					</div>
				</div>


						{% if content != "" %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="notes">
										<h3>Notes</h3>
									</div>
									<div class="card-body">
										<p>{{ content }}</p>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if page.performers %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="performers">
										<h3>Performers</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for performer in page.performers %}
											<li>{{ performer }}</li>
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}


						{% if page.support %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="support">
										<h3>Support</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for act in page.support %}
												<li>{{act}}</li>
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}



						{% if page.show-setlist %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-light" id="setlist">
										<h3>Setlist</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for track in page.show-setlist %}
											{% capture hastrack %}{{track.title}}{% endcapture %}
											{% if hastrack == '' %}
												{% if track contains '^' %}
													<li class="text-muted">{{track | remove_first:'^'}}</li>
												{% else %}
													<li>
														<a href="/database/tracks/{{track|slugify}}/">{{track}}</a></li>
												{% endif %}
											{% else %}
												{% if track.title contains '^' %}
													<li class="text-muted">{{track.title | remove_first:'^'}}</li>
												{% else %}
													<li>
														<a href="/database/tracks/{% if track.link %}{{track.link}}{% else %}{{track.title|slugify}}{% endif %}/">{{track.title}}</a>{% if track.notes %}&nbsp;({{track.notes}}){% endif %}
													</li>
												{% endif %}
											{% endif %}
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}
				


						{% if page.links %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header id=links">
										<h3>Links</h3>
									</div>
									<div class="card-body">
										<ul>
										{% for link in page.links %}
												<li><i class="bi bi-link"></i> <a href="{{link.url}}">{{link.title}}</a> ({{link.source}})</li>
										{% endfor %}
										</ul>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}



						{% if page.show-poster-url %}
						<div class="row">
							<div class="col">
								<div class="card mb-3">
									<div class="card-header bg-info" id="poster">
										<h3>Poster</h3>
									</div>
									<div class="card-body">
										<figure class="figure">
											<img class="img-fluid" src="{{page.show-poster-url}}" alt="Poster for {{page.show-date|date: '%-d %B %Y'}} at {{ page.show-venue }}" />
											<figcaption class="figure-caption">
												Poster for {{page.show-date|date: "%-d %B %Y"}} at {{ page.show-venue }}
											</figcaption>
										</figure>
									</div>
						  	<div class="card-footer text-muted text-right">
    							<a href="#top"><small>Back to top</small> <i class="bi bi-arrow-up-square"></i></a>
							</div>
								</div>
							</div>
						</div>
						{% endif %}

