---
layout: default
---
{% assign page_title = page.title %}
{% if page.description %}{% assign description = page.description %}{% else %}
	{% capture description %}Details of the track '{{page.title}}', including, when available, lyrics and guitar chords{% endcapture %}
{% endif %}

{% include breadcrumbs.html %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3>Information</h3>
			</div>
			<div class="card-body">
				<ul>
					<li>Title: {{page.title}}</li>
					<li>Written by: {{page.track-author}}</li>
					{% if page.track-original %}
					<li>Original by: {{page.track-original}}</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if page.available-on %}
		<div class="card">
			<div class="card-header">
				<h3>Available on</h3>
			</div>
			<div class="card-body">
				<ul>
					{% for avail in page.available-on %}
					<li><a href="{{avail.url}}">{{avail.release}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% if page.ahfow-posts %}
		<div class="card">
			<div class="card-header">
				<h3>Posts</h3>
			</div>
			<div class="card-body">
				<ul>
					{% for ahfow in page.ahfow-posts %}
					<li><a href="{{ahfow.post-url}}">{{ahfow.post-title}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% if page.bandcamp %}
		<div class="card">
			<div class="card-header">
				<h3>Bandcamp</h3>
			</div>
			<div class="card-body">
			</div>
		</div>
		{% endif %}

		{% if page.videos %}
		<div class="card">
			<div class="card-header">
				<h3>Bandcamp</h3>
			</div>
			<div class="card-body">
			</div>
		</div>
		{% endif %}

		{% if page.track-lyrics %}
		<div class="card">
			<div class="card-header">
				<h3>Lyrics</h3>
			</div>
			<div class="card-body">
				{{page.track-lyrics | newline_to_br}}
			</div>
		</div>
		{% endif %}

		{% if page.track-guitar %}
		<div class="card">
			<div class="card-header">
				<h3>Guitar</h3>
			</div>
			<div class="card-body">
				<pre>{{page.track-guitar}}</pre>
			</div>
		</div>
		{% endif %}
	</div>
</div>
